@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Colours */
    --clr-accent: #4891FF;
    --clr-accent-hover: #1570F9;
    --clr-light: #FFFFFF;
    --clr-slate: #ededed;
    --clr-dark: #131316;
    --clr-divider-dark: #494949;
    --clr-divider-light: #DFDEE2;
    --clr-text-light: #fff;
    --clr-text-slate: #BCC2C3;
    --clr-text-dark: #000;
    --clr-tab-bg: #F4F4F6;
    --clr-tab-btn-hover: #DBE7F9;
    --clr-btn-secondary: #f5f5f5;

    /* Font-sizes */
    --font-size-base: 1rem;
    --font-hero-head: clamp(2.25rem, 4vw, 6rem);
    --font-hero-para: clamp(1.4rem, 4vw, 2rem);
    --font-heading: clamp(2rem, 2vw, 4rem)
}
/* SIMPLE CSS RESET */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-size: var(--font-size-base);
    color: #333;
}

img, svg {
  display: block;
  max-width: 100%;
  font-style: italic;
  object-fit: cover;
  object-position: center;
}

input, button {
  font: inherit;
}
h1 {
    text-align: center;
    font-weight: 500;
    line-height: 110%;
    font-size: var(--font-hero-head);
}
h2 {
    font-size: var(--font-heading);
    font-weight: 500;
    text-align: center;
    line-height: 110%;
}
h3 {
    font-weight: 500;
}
p, h1, h2, h3 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 240ms ease;
}
a:hover {
    color: var(--clr-accent-hover);
}
section {
    padding-inline: 1rem;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---- Utility Classes ---- */

.btn--primary {
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
}
.btn--primary:hover {
    background-color: var(--clr-accent-hover);
}
.btn--secondary {
    background-color: var(--clr-btn-secondary);
    color: var(--clr-text-dark);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    border: none;
    transition: 240ms ease;
}
.btn--secondary:hover {
    color: var(--clr-text-light);
    background-color: var(--clr-accent);
}

/* <--- Page structure ---> */
.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    width: 100vw;
}

/* <--- Navbar Styling ---> */

.nav-area,
.navbar,
.menu-toggle {
    display: flex;
}
.nav-area {
    height: 70px;
    width: 100%;
    position: fixed;
    justify-content: center;
    background-color: var(--clr-light);
    backdrop-filter: blur(5px);
    z-index: 2;
}
.navbar {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    padding-inline: 1rem;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    width: 40px;
    height: 40px;
    background-color: var(--clr-slate);
    border-radius: 12px;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.line-top, 
.line-bottom {
    width: 20px;
    height: 2px;
    background-color: var(--clr-dark);
}

.nav-menu {
    top: 0px;
    left: 0px;
    height: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    z-index: -1;
    transition: 240ms ease;
    background-color: var(--clr-light);
}

.nav-menu ul {
    margin-top: 60px;
}
.nav-menu ul li {
    margin-bottom: 2rem;
}
.login-btn {
    color: var(--clr-text-light);
    background-color: var(--clr-accent);
}

.nav-main-items,
.login-btn {
    opacity: 0;
    transition: 240ms ease;
    transition-delay: 100ms;
}

.menu-active {
    height: 60vh;
    padding: 3rem 2rem;
    background-color: var(--clr-light);
    backdrop-filter: blur(10px);
    
    .nav-main-items,
    .login-btn {
        opacity: 1;
    }
}

/* <--- Hero Section Styling ---> */

.hero {
    min-height: 100vh;
    width: 100%;
    padding: 70px 1rem 2rem 1rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "head"
        "img";
    gap: 1rem;
}
.hero h1 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}
.hero p {
    width: 30ch;
    margin-bottom: 1rem;
    margin-inline: auto;
    text-align: center;
}
.hero-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.hero figure {
    width: 100%;
    height: 100%;
}
.hero figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "video"
        "testimonials"
        "pricing"
        "FAQ";
}

.get-started,
.testimonial {
    padding-block: 4rem;
    padding-inline: 1rem;
    color: var(--clr-text-light);
    background-color: var(--clr-dark);
}
.get-started {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}
.get-started figure img {
    border-radius: 12px;
}
.testimonial {
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.testimonial article {
    width: 100%;
    height: 100%;
    text-align: center;
}
.testimonial article h2 {
    margin-bottom: 1rem;
}
.reviews-slider {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: hidden;
    mask-image: linear-gradient(
        180deg,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0)
    );
}
.review {
    width: 100%;
    height: 80%;
    background-color: var(--clr-light);
    color: var(--clr-text-dark);
    position: absolute;
    bottom: -90%;
    left: 50%;
    padding: 2rem;
    transform: translateX(-50%);
    border-radius: 20px;
    animation: slide-Infinite linear 10s infinite;
}
/* .rev-1 {
    animation-delay: 10s;
} */
.rev-2 {
    animation-delay: 4.5s;
}
.rev-3 {
    animation-delay: 9s;
}
.rev-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscription {
    min-height: 100vh;
    width: 100%;
    padding-block-start: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.subscription article {
    width: 100%;
    text-align: center;
}
.subscription article h2 {
    margin-bottom: 1rem;
}
.plans {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}
.plan-free-card,
.plan-premium-card {
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
}
.plan-free-card h3,
.plan-premium-card h3 {
    font-size: 24px;
}
.plan-free-card {
    background-color: var(--clr-slate);
}
.plan-premium-card {
    color: var(--clr-text-light);
    background-color: var(--clr-dark);
}
.plan-info {
    display: grid;
    gap: 2rem;
    padding-bottom: 1rem;
}
.info-free {
    border-bottom: 1px solid var(--clr-divider-light);
}
.info-premium {
    border-bottom: 1px solid var(--clr-divider-dark);
}
.plan-benifits {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding-block-start: 2rem;
}
.plan-benifits > ul li {
    text-align: start;
    margin-bottom: 1rem;
}
.pro > ul > li {
    margin-top: 1rem;
}
.subscription > span {
    text-align: center;
    padding-block-end: 4rem;
    border-bottom: 1px solid var(--clr-divider-light);
}
.FAQ-container {
    width: 100%;
    height: auto;
    padding-block: 4rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "faq-head"
        "faq-accordian";
    gap: 2rem;
}
.tab {
    width: 100%;
    height: 60px;
    margin-top: 2rem;
    background-color: var(--clr-slate);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab button {
    height: 100%;
    padding-inline: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    transition: 240ms ease;
}
.tab-btn:hover {
    background-color: var(--clr-tab-btn-hover);
}
.tab-btn.active {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}
.FAQ-accordian,
.accordian-item {
    display: flex;
    flex-direction: column;
}
.FAQ-accordian {
    width: 100%;
    gap: 1.25rem;
    padding-block-start: 1rem;
}
.accordian-item {
    width: 100%;
    gap: 18px;
    border-bottom: 1px solid var(--clr-divider-light);
}
.accordian-item.active {
    border-bottom: 1px solid var(--clr-dark);
}
.question {
    display: flex;
    justify-content: space-between;
    justify-content: first baseline;
}
.question h3 {
    font-size: 1rem;
    max-width: 30ch;
}
.plus-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease;
}
.plus-icon.active {
    transform: rotate(45deg);
}
.expand {
    font-size: 1.5rem;
    font-weight: 300;
    transform: rotate(0deg);
    transition: 200ms ease;
}
.answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: 240ms ease;
}
.answer > p {
    overflow: hidden;
    max-width: 718px;
}
.answer.active {
    grid-template-rows: 1fr;
    padding-bottom: 1rem;
}

footer {
    min-height: 80vh;
    padding: 4rem 1rem;
    background-color: var(--clr-dark);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "newsletter"
        "footer-nav"
        "contacts";
    gap: 1rem;
}
footer a {
    color: var(--clr-text-slate);
    transition: 240ms ease;
}
footer a:hover {
    color: var(--clr-text-light);
}

.newsletter {
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-logo {
    width: 150px;
}
.newsletter form {
    height: 100%;
    padding: 1rem;
    background-color: var(--clr-light);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsletter form fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.user-email,
.sub-btn {
    border-radius: 8px;
}
.user-email {
    width: 100%;
    border: 1px solid #BEBDC6;
    padding-inline-start: 1rem;
}
.footer-nav {
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--clr-text-light);
}
.footer-nav ul li {
    margin-bottom: 1rem;
}
.contacts {
    height: 25vh;
    color: var(--clr-text-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts span ul li {
    margin-bottom: 1rem;
}
.socials {
    margin-bottom: 1rem;
}
.socials a {
    font-size: 1.5rem;
}

@keyframes slide-Infinite {
    to {
        bottom: 100%;
    }
}

@media (min-width: 568px) {
    .menu-toggle {
        display: none;
    }
    .nav-menu {
        top: 0px;
        right: 0px;
        height: 100%;
        width: auto;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        overflow-y: hidden;
        z-index: 1;
        transform: none;
    }
    .nav-menu > ul {
        margin-top: 0;
        display: flex;
        gap: 1rem;
    }
    .nav-menu ul li {
        margin-bottom: 0;
    }
    .nav-main-items,
    .login-btn {
        opacity: 1;
    }
    .login-btn {
        width: 95px;
        height: 40px;
        border-radius: 12px;
        font-size: 12px;
        padding: 0;
        color: var(--clr-text-dark);
        background-color: var(--clr-btn-secondary);
    }
}