@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Colours */
    --clr-accent: #4891FF;
    --clr-accent-hover: #1570F9;
    --clr-light: #FFFFFF;
    --clr-slate: #ededed;
    --clr-bg-nav: #ffffffc6;
    --clr-dark: #131316;
    --clr-divider-dark: #494949;
    --clr-divider-light: #DFDEE2;
    --clr-text-light: #fff;
    --clr-text-slate: #BCC2C3;
    --clr-text-dark: #000;
    --clr-tab-bg: #F4F4F6;
    --clr-tab-btn-hover: #DBE7F9;
    --clr-btn-secondary: #f5f5f5;

    /* Font-sizes */
    --font-size-base: 1rem;
    --font-hero: clamp(2.4rem, 4vw, 4rem);
}
/* SIMPLE CSS RESET */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-size: var(--font-size-base);
    color: #333;
    overflow: hidden;
}

img, svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input, button {
  font: inherit;
}

p, h1, h2, h3, h4 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 240ms ease;
}
a:hover {
    color: var(--clr-accent-hover);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---- Utility Classes ---- */

.btn--primary {
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
}
.btn--secondary {
    background-color: var(--clr-btn-secondary);
    color: var(--clr-text-dark);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    border: none;
    transition: 240ms ease;
}
.btn--secondary:hover {
    color: var(--clr-text-light);
    background-color: var(--clr-accent);
}

header {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--clr-accent); */
}
.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
        "hero"
        "video"
        "testimonial"
        "pricing"
        "faq"
        "footer";
}
.nav-main,
.navbar,
.toggle-menu {
    display: flex;
}
.nav-main {
    height: 70px;
    width: 100%;
    position: fixed;
    justify-content: center;
}
.navbar {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    padding-inline: 1rem;
    justify-content: space-between;
    align-items: center;
}
.nav-main,
.nav-menu {
    background-color: var(--clr-bg-nav);
    backdrop-filter: blur(5px);
}
.toggle-menu {
    width: 40px;
    height: 40px;
    background-color: var(--clr-slate);
    border-radius: 12px;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}
.line-top, 
.line-bottom {
    width: 20px;
    height: 2px;
    background-color: var(--clr-dark);
}

.nav-menu {
    top: 0px;
    left: 0px;
    height: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    z-index: -1;
    transition: 240ms ease;
}

.nav-menu ul {
    margin-top: 60px;
}
.nav-menu ul li {
    margin-bottom: 2rem;
}
.login-btn {
    color: var(--clr-text-light);
    background-color: var(--clr-accent);
}

.nav-main-items,
.login-btn {
    opacity: 0;
    transition: 240ms ease;
    transition-delay: 100ms;
}

.menu-active {
    height: 60vh;
    padding: 3rem 2rem;
    
    .nav-main-items,
    .login-btn {
        opacity: 1;
    }
}

@media (min-width: 568px) {
    .toggle-menu {
        display: none;
    }
    .nav-menu {
        top: 0px;
        right: 0px;
        height: 100%;
        width: auto;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        overflow-y: hidden;
        z-index: 1;
        transition: none;
    }
    .nav-menu > ul {
        margin-top: 0;
        display: flex;
        gap: 1rem;
    }
    .nav-menu ul li {
        margin-bottom: 0;
    }
    .nav-main-items,
    .login-btn {
        opacity: 1;
    }
    .login-btn {
        width: 95px;
        height: 40px;
        border-radius: 12px;
        font-size: 12px;
        padding: 0;
        color: var(--clr-text-dark);
        background-color: var(--clr-btn-secondary);
    }
}

